<app-header></app-header>
<body>
  <section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons $ up to 70% off!</p>
    <button>
      Shop now<img class="img1" src="../../../assets/images/patita.png" />
    </button>
  </section>

  <section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../../../assets/images//features/f1.png" alt="feature">
        <h6>Free shipping</h6>
    </div>
    <div class="fe-box">
      <img src="../../../assets/images//features/f2.png" alt="feature">
      <h6>Online Order</h6>
  </div>
  <div class="fe-box">
    <img src="../../../assets/images//features/f3.png" alt="feature">
    <h6>Save Money</h6>
</div>
<div class="fe-box">
  <img src="../../../assets/images//features/f4.png" alt="feature">
  <h6>Promotions</h6>
</div>
<div class="fe-box">
  <img src="../../../assets/images//features/f5.png" alt="feature">
  <h6>Happy Sell</h6>
</div>
<div class="fe-box">
  <img src="../../../assets/images//features/f6.png" alt="feature">
  <h6>24/7 support</h6>
</div>
  </section>

  <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
    <div class="pro">
    <img src="../../../assets/img/products/f1.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f2.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f3.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f4.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f5.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f6.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f7.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
  <div class="pro">
    <img src="../../../assets/img/products/f8.jpg">
    <div class="des">
      <span>Toyota</span>
      <h5>Cartoon Astronaut T-Shirts</h5>
      <div class="star">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </div>
      <h4>$6800</h4>
    </div>
    <a href="#"><i class="bi bi-cart cart"></i></a>
  </div>
</div>
  </section>
  <section id="banner" class>
    <h4>Repair Service</h4>
    <h2>Up to <span>70% Off</span> - All t-Shirts & Accessories</h2>
    <button>Read More</button>
  </section>
</body>
